In [ ]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [2]:
# Combining saved scrapes 1-33

In [3]:
import glob

In [4]:
dfs = []
for file in glob.glob('scrape/*'):
    dfs.append(pd.read_csv(file))

In [5]:
fuller_df = pd.concat(dfs, ignore_index=True)

In [6]:
fuller_df = fuller_df.drop_duplicates(keep='first')

In [7]:
fuller_df.shape

(3785139, 8)

In [8]:
fuller_df.tail()

,Unnamed: 0,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers
3785139,4995,API Auth failure causing iOS CredStore perform...,CredStore - preformQuery = Error copying matc...,"['ios', 'angularjs', 'rest', 'cordova', 'autho...",2019-07-12 13:08:20Z,rolinger,0.0,0.0
3785140,4996,How can I call a PHP function from another ser...,Is there a way that I can call a PHP function ...,['php'],2019-07-12 13:08:12Z,Delena Malan,0.0,3.0
3785141,4997,GDI handles in a DotNET application,My pure DotNET library runs as a plugin inside...,"['.net', 'memory-leaks', 'count', 'gdi', 'hand...",2019-07-12 13:07:39Z,Glorfindel,6.0,7.0
3785142,4998,Single ErrorDocument directive to catch all er...,Is there something like a wildcard directive t...,"['apache', '.htaccess', 'mod-rewrite', 'errord...",2019-07-12 13:07:29Z,ashleedawg,38.0,4.0
3785143,4999,Referencing .NET Core Class from .NET 4.7.2 file,I am trying to maintain an existing solution w...,"['c#', '.net', '.net-core']",2019-07-12 13:07:27Z,BrianKE,0.0,0.0

In [9]:
fuller_df = fuller_df.drop(columns = 'Unnamed: 0')

In [10]:
fuller_df.to_csv('data/dataframe_051620.csv', index=False)

In [11]:
# Importing StackOverflow Dataframe for Analysis

In [12]:
fuller_df = pd.read_csv('data/dataframe_051620.csv')

In [13]:
fuller_df.shape

(3785139, 7)

In [14]:
first_df = pd.read_csv('data/dataframe_051420.csv')

In [15]:
first_df.shape

(2234408, 7)

In [16]:
new_data = pd.concat([first_df, fuller_df])

In [17]:
new_data.shape

(6019547, 7)

In [18]:
new_data.tail()

,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers
3785134,API Auth failure causing iOS CredStore perform...,CredStore - preformQuery = Error copying matc...,"['ios', 'angularjs', 'rest', 'cordova', 'autho...",2019-07-12 13:08:20Z,rolinger,0.0,0.0
3785135,How can I call a PHP function from another ser...,Is there a way that I can call a PHP function ...,['php'],2019-07-12 13:08:12Z,Delena Malan,0.0,3.0
3785136,GDI handles in a DotNET application,My pure DotNET library runs as a plugin inside...,"['.net', 'memory-leaks', 'count', 'gdi', 'hand...",2019-07-12 13:07:39Z,Glorfindel,6.0,7.0
3785137,Single ErrorDocument directive to catch all er...,Is there something like a wildcard directive t...,"['apache', '.htaccess', 'mod-rewrite', 'errord...",2019-07-12 13:07:29Z,ashleedawg,38.0,4.0
3785138,Referencing .NET Core Class from .NET 4.7.2 file,I am trying to maintain an existing solution w...,"['c#', '.net', '.net-core']",2019-07-12 13:07:27Z,BrianKE,0.0,0.0

In [19]:
new_df = new_data.reset_index(drop=True)

In [20]:
new_df['time_stamp'].isna().value_counts()

False    6019289
True         258
Name: time_stamp, dtype: int64

In [21]:
# Conditional drop -> Only drop rows with NaN values in the 'time_stamp' column
dropped_nans = new_df.dropna(subset=['time_stamp'])

In [22]:
dropped_nans['time_stamp'].isna().value_counts()

False    6019289
Name: time_stamp, dtype: int64

In [23]:
new_df = new_df.dropna(subset=['time_stamp'])

In [24]:
# Testing split by regex to isolate date from 'date_time' column
time_stampy = '2020-04-25 21:54:31Z'

In [25]:
import re

re.split('\s+', time_stampy)[0]

'2020-04-25'

In [26]:
# Making sure 'time_stamp' column only contains strings
new_df['time_stamp'] = new_df['time_stamp'].astype(str)

In [27]:
new_df['time_stamp'].describe

<bound method NDFrame.describe of 0          2020-04-25 21:54:31Z
1          2020-04-25 21:54:30Z
2          2020-04-25 21:54:28Z
3          2020-04-25 21:54:14Z
4          2020-04-25 21:54:09Z
                   ...
6019542    2019-07-12 13:08:20Z
6019543    2019-07-12 13:08:12Z
6019544    2019-07-12 13:07:39Z
6019545    2019-07-12 13:07:29Z
6019546    2019-07-12 13:07:27Z
Name: time_stamp, Length: 6019289, dtype: object>

In [28]:
# Apply function in combination with a lambda function since I can't pass a column through my simple regex split
new_df['date'] = new_df['time_stamp'].apply(lambda x : re.split('\s+', x)[0])

In [29]:
new_df.head()

,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers,date
0,Connecting to Postgresql in a docker container...,I just started learning docker and I decided t...,"['postgresql', 'docker']",2020-04-25 21:54:31Z,Zeitounator,1.0,1.0,2020-04-25
1,How to detect the element i clicked on from an...,I am trying to make this project where i have ...,"['javascript', 'html']",2020-04-25 21:54:30Z,mateleco,1.0,3.0,2020-04-25
2,Angular : open sidenav with another component ...,I can not open a sidenav from another componen...,"['angular', 'sidenav']",2020-04-25 21:54:28Z,Vugar Ahmadov,1.0,2.0,2020-04-25
3,Nginx timeout for websocket,I'm connecting a client with websocket through...,"['nginx', 'asp.net-core', 'websocket', 'timeou...",2020-04-25 21:54:14Z,mkrieger1,0.0,0.0,2020-04-25
4,Change Tracking for TeraData,We need a way to know which rows changed in a ...,"['etl', 'teradata', 'change-tracking']",2020-04-25 21:54:09Z,Techdeveloper,0.0,1.0,2020-04-25

In [30]:
# Converting the remaining 'date' column to datetime in order to work with it
new_df['date'] = pd.to_datetime(new_df['date'], errors='coerce', format='%Y-%m-%d')

In [31]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6019289 entries, 0 to 6019546
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   question       object
 1   summary        object
 2   tags           object
 3   time_stamp     object
 4   user_id        object
 5   no_of_votes    float64
 6   no_of_answers  float64
 7   date           datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 413.3+ MB

In [32]:
new_df = new_df.drop(columns=['time_stamp'])

In [33]:
# Selecting only rows with dates in 2020
analysis_2020 = new_df[new_df['date'] >= '2020-01-01']

In [34]:
analysis_2020.head()

,question,summary,tags,user_id,no_of_votes,no_of_answers,date
0,Connecting to Postgresql in a docker container...,I just started learning docker and I decided t...,"['postgresql', 'docker']",Zeitounator,1.0,1.0,2020-04-25
1,How to detect the element i clicked on from an...,I am trying to make this project where i have ...,"['javascript', 'html']",mateleco,1.0,3.0,2020-04-25
2,Angular : open sidenav with another component ...,I can not open a sidenav from another componen...,"['angular', 'sidenav']",Vugar Ahmadov,1.0,2.0,2020-04-25
3,Nginx timeout for websocket,I'm connecting a client with websocket through...,"['nginx', 'asp.net-core', 'websocket', 'timeou...",mkrieger1,0.0,0.0,2020-04-25
4,Change Tracking for TeraData,We need a way to know which rows changed in a ...,"['etl', 'teradata', 'change-tracking']",Techdeveloper,0.0,1.0,2020-04-25

In [35]:
analysis_2020.shape

(1164420, 7)

In [36]:
analysis_2019 = new_df[(new_df['date'] >= '2019-01-01') &  (new_df['date'] <= '2019-12-31')]

In [37]:
analysis_2019.shape

(2275118, 7)

In [38]:
analysis_2018 = new_df[(new_df['date'] >= '2018-01-01') &  (new_df['date'] <= '2018-12-31')]
analysis_2018.shape

(2140658, 7)

In [39]:
analysis_2017 = new_df[(new_df['date'] >= '2017-01-01') &  (new_df['date'] <= '2017-12-31')]
analysis_2017.shape

(346476, 7)

In [40]:
analysis_2016 = new_df[(new_df['date'] >= '2016-01-01') &  (new_df['date'] <= '2016-12-31')]
analysis_2016.shape

(2820, 7)

In [41]:
analysis_2015 = new_df[(new_df['date'] >= '2015-01-01') &  (new_df['date'] <= '2015-12-31')]
analysis_2015.shape

(3908, 7)

In [42]:
analysis_2014 = new_df[(new_df['date'] >= '2014-01-01') &  (new_df['date'] <= '2014-12-31')]
analysis_2014.shape

(5761, 7)

In [73]:
analysis_2020_tags = analysis_2020.loc[:, ['tags']]

In [74]:
analysis_2020_tags.head()

                                                tags
0                           ['postgresql', 'docker']
1                             ['javascript', 'html']
2                             ['angular', 'sidenav']
3  ['nginx', 'asp.net-core', 'websocket', 'timeou...
4             ['etl', 'teradata', 'change-tracking']

In [75]:
head_2020 = analysis_2020_tags

In [76]:
head['tags'].values

array(['postgresql, docker', 'javascript, html', 'angular, sidenav', ...,
       'r, loops, quantmod', 'html, css', 'python, pytest'], dtype=object)

In [77]:
head.head()

                                                tags
0                                 postgresql, docker
1                                   javascript, html
2                                   angular, sidenav
3  nginx, asp.net-core, websocket, timeout, nginx...
4                     etl, teradata, change-tracking

In [78]:
head_2020['tags'] = head['tags'].astype(str).str.replace('\[|\]|\'', '')

In [79]:
listed = (', ').join(head_2020['tags'])

In [80]:
listed_list_2020 = listed.split(', ')

In [81]:
from collections import Counter

In [82]:
cnt_2020 = Counter(listed_list_2020)

In [83]:
tags_common_2020 = cnt_2020.most_common()

In [84]:
tags_cnt_2020 = pd.DataFrame(tags_common_2020, columns=['tag', 'count'])
tags_cnt_2020.head(25)

           tag   count
0       python  151741
1   javascript  118732
2         java   82022
3      android   60816
4           c#   57762
5         html   47036
6          php   45963
7      reactjs   41703
8   python-3.x   34140
9      node.js   33222
10         c++   30970
11         css   30815
12           r   30282
13     angular   28619
14         sql   26445
15         ios   23982
16      jquery   23616
17      pandas   23113
18       mysql   22887
19       swift   21609
20      django   20494
21      arrays   18422
22     flutter   17730
23  typescript   17547
24        json   17422

In [85]:
analysis_2019_tags = analysis_2019.loc[:, ['tags']]
analysis_2019_tags['tags'] = analysis_2019_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2019 = (', ').join(analysis_2019_tags['tags'])
listed_list_2019 = listed_2019.split(', ')
cnt_2019 = Counter(listed_list_2019)
tags_common_2019 = cnt_2019.most_common()
tags_cnt_2019 = pd.DataFrame(tags_common_2019, columns=['tag', 'count'])
tags_cnt_2019.head(25)

           tag   count
0       python  264418
1   javascript  229762
2         java  168077
3           c#  129811
4      android  123902
5          php  105044
6         html   95655
7   python-3.x   67018
8      reactjs   63974
9          css   63241
10         c++   61203
11     node.js   59539
12           r   58742
13     angular   58239
14         sql   55820
15      jquery   54103
16         ios   50255
17       mysql   48369
18       swift   42881
19      pandas   41186
20      arrays   35124
21      django   34815
22        json   33700
23       excel   32557
24  typescript   31963

In [86]:
analysis_2018_tags = analysis_2018.loc[:, ['tags']]
analysis_2018_tags['tags'] = analysis_2018_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2018 = (', ').join(analysis_2018_tags['tags'])
listed_list_2018 = listed_2018.split(', ')
cnt_2018 = Counter(listed_list_2018)
tags_common_2018 = cnt_2018.most_common()
tags_cnt_2018 = pd.DataFrame(tags_common_2018, columns=['tag', 'count'])
tags_cnt_2018.head(25)

           tag   count
0   javascript  225863
1       python  217055
2         java  172071
3           c#  129292
4      android  128618
5          php  121668
6         html   99595
7       jquery   68080
8          css   66071
9          c++   62576
10         sql   58395
11         ios   56782
12           r   56710
13       mysql   54827
14     angular   53965
15     node.js   50980
16  python-3.x   48625
17       swift   45111
18     reactjs   44308
19      arrays   37165
20        json   34499
21  sql-server   32474
22      pandas   31168
23           c   30839
24       excel   29399