In [9]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [10]:
# Combining saved scrapes 1-33

In [11]:
import glob

In [69]:
dfs = []
bad_files = []
for file in glob.glob('scrape/*'):
    try:
        dfs.append(pd.read_csv(file))
    except:
        bad_files.append(file)

In [70]:
fuller_df = pd.concat(dfs, ignore_index=True)

In [71]:
fuller_df = fuller_df.drop_duplicates(keep='first')

In [72]:
fuller_df.shape

(14485872, 8)

In [73]:
fuller_df.tail()

,Unnamed: 0,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers
14485874,4995,Jekyll and liquid - Show related posts by amou...,"i'd like to add a bar called ""related posts"" a...","['tags', 'jekyll', 'liquid']",2016-04-07 07:06:38Z,David Jacquel,2.0,1.0
14485875,4996,searching a file in linux,"I want to find in the system a file, and I kno...","['regex', 'linux', 'search', 'find']",2016-04-07 07:06:27Z,user unknown,1.0,2.0
14485876,4997,angular ng-options omit value,I have a SELECT dropdown rendering the availab...,"['angularjs', 'ng-options', 'angularjs-ng-opti...",2016-04-07 07:06:20Z,Community,0.0,1.0
14485877,4998,unable to send mail using php mail() codeignit...,if ($this->form_validation->run()) {\n ...,"['php', 'codeigniter', 'email']",2016-04-07 07:06:03Z,rinru,0.0,0.0
14485878,4999,return default value in Object,If I have a JS object like this:\n\nmyObject =...,"['javascript', 'object']",2016-04-07 07:05:56Z,sics,0.0,1.0

In [74]:
fuller_df = fuller_df.drop(columns = 'Unnamed: 0')

In [75]:
fuller_df.to_csv('data/big_rescue_052120.csv', index=False)

In [ ]:
# Importing StackOverflow Dataframe for Analysis

In [26]:
fuller_df = pd.read_csv('data/dataframe_051620.csv')

In [27]:
fuller_df.shape

(11000381, 7)

In [76]:
first_df = pd.read_csv('data/small_rescue_052120.csv')

In [77]:
first_df.shape

(2470117, 7)

In [78]:
new_data = pd.concat([first_df, fuller_df])

In [79]:
new_data.shape

(16955989, 7)

In [32]:
new_data.tail()

,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers
11000376,Jekyll and liquid - Show related posts by amou...,"i'd like to add a bar called ""related posts"" a...","['tags', 'jekyll', 'liquid']",2016-04-07 07:06:38Z,David Jacquel,2.0,1.0
11000377,searching a file in linux,"I want to find in the system a file, and I kno...","['regex', 'linux', 'search', 'find']",2016-04-07 07:06:27Z,user unknown,1.0,2.0
11000378,angular ng-options omit value,I have a SELECT dropdown rendering the availab...,"['angularjs', 'ng-options', 'angularjs-ng-opti...",2016-04-07 07:06:20Z,Community,0.0,1.0
11000379,unable to send mail using php mail() codeignit...,if ($this->form_validation->run()) {\n ...,"['php', 'codeigniter', 'email']",2016-04-07 07:06:03Z,rinru,0.0,0.0
11000380,return default value in Object,If I have a JS object like this:\n\nmyObject =...,"['javascript', 'object']",2016-04-07 07:05:56Z,sics,0.0,1.0

In [80]:
new_df = new_data.reset_index(drop=True)

In [81]:
new_df['time_stamp'].isna().value_counts()

False    16955385
True          604
Name: time_stamp, dtype: int64

In [82]:
# Conditional drop -> Only drop rows with NaN values in the 'time_stamp' column
dropped_nans = new_df.dropna(subset=['time_stamp'])

In [83]:
dropped_nans['time_stamp'].isna().value_counts()

False    16955385
Name: time_stamp, dtype: int64

In [85]:
# Testing split by regex to isolate date from 'date_time' column
time_stampy = '2020-04-25 21:54:31Z'

In [86]:
import re

re.split('\s+', time_stampy)[0]

'2020-04-25'

In [87]:
# Making sure 'time_stamp' column only contains strings
new_df['time_stamp'] = new_df['time_stamp'].astype(str)

In [88]:
new_df['time_stamp'].describe

<bound method NDFrame.describe of 0           2019-08-02 06:54:26Z
1           2019-08-02 06:54:21Z
2           2019-08-02 06:54:20Z
3           2019-08-02 06:53:58Z
4           2019-08-02 06:53:58Z
                    ...
16955984    2016-04-07 07:06:38Z
16955985    2016-04-07 07:06:27Z
16955986    2016-04-07 07:06:20Z
16955987    2016-04-07 07:06:03Z
16955988    2016-04-07 07:05:56Z
Name: time_stamp, Length: 16955385, dtype: object>

In [89]:
# Apply function in combination with a lambda function since I can't pass a column through my simple regex split
new_df['date'] = new_df['time_stamp'].apply(lambda x : re.split('\s+', x)[0])

In [43]:
new_df.head(100)

,question,summary,tags,time_stamp,user_id,no_of_votes,no_of_answers,date
0,Connecting to Postgresql in a docker container...,I just started learning docker and I decided t...,"['postgresql', 'docker']",2020-04-25 21:54:31Z,Zeitounator,1.0,1.0,2020-04-25
1,How to detect the element i clicked on from an...,I am trying to make this project where i have ...,"['javascript', 'html']",2020-04-25 21:54:30Z,mateleco,1.0,3.0,2020-04-25
2,Angular : open sidenav with another component ...,I can not open a sidenav from another componen...,"['angular', 'sidenav']",2020-04-25 21:54:28Z,Vugar Ahmadov,1.0,2.0,2020-04-25
3,Nginx timeout for websocket,I'm connecting a client with websocket through...,"['nginx', 'asp.net-core', 'websocket', 'timeou...",2020-04-25 21:54:14Z,mkrieger1,0.0,0.0,2020-04-25
4,Change Tracking for TeraData,We need a way to know which rows changed in a ...,"['etl', 'teradata', 'change-tracking']",2020-04-25 21:54:09Z,Techdeveloper,0.0,1.0,2020-04-25
...,...,...,...,...,...,...,...,...
95,Parse array object inside JSON response,"My JSON response:\n\n{""type"":""FeatureCollectio...","['json', 'excel', 'vba', 'jsonconvert']",2020-04-25 21:34:32Z,braX,0.0,1.0,2020-04-25
96,Swapping 2 subs-tree algorithm,I having problem writing an algorithm swap 2 s...,"['algorithm', 'binary-tree']",2020-04-25 21:34:31Z,Issa_newton1995,0.0,0.0,2020-04-25
97,handle push notification (FCM) while app is in...,What I want: I want to send notification from ...,"['firebase', 'android-intent', 'android-activi...",2020-04-25 21:34:20Z,Hanoch Moreno,2.0,2.0,2020-04-25
98,Why switchMap does not cancel repeated request?,The request is executed on the server:\n\nngOn...,"['angular', 'angular5', 'angular8']",2020-04-25 21:34:20Z,tuckerjt07,-1.0,1.0,2020-04-25
99,reinterpret_cast does not have defined behavior,SO i have two classes Tuna and Carp which have...,['c++'],2020-04-25 21:34:12Z,john,1.0,1.0,2020-04-25

In [90]:
# Converting the remaining 'date' column to datetime in order to work with it
new_df['date'] = pd.to_datetime(new_df['date'], errors='coerce', format='%Y-%m-%d')

In [91]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16955385 entries, 0 to 16955988
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   question       object
 1   summary        object
 2   tags           object
 3   time_stamp     object
 4   user_id        object
 5   no_of_votes    float64
 6   no_of_answers  float64
 7   date           datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.1+ GB

In [92]:
new_df = new_df.drop(columns=['time_stamp'])

In [93]:
# Selecting only rows with dates in 2020
analysis_2020 = new_df[new_df['date'] >= '2020-01-01']

In [48]:
analysis_2020.head()

,question,summary,tags,user_id,no_of_votes,no_of_answers,date
0,Connecting to Postgresql in a docker container...,I just started learning docker and I decided t...,"['postgresql', 'docker']",Zeitounator,1.0,1.0,2020-04-25
1,How to detect the element i clicked on from an...,I am trying to make this project where i have ...,"['javascript', 'html']",mateleco,1.0,3.0,2020-04-25
2,Angular : open sidenav with another component ...,I can not open a sidenav from another componen...,"['angular', 'sidenav']",Vugar Ahmadov,1.0,2.0,2020-04-25
3,Nginx timeout for websocket,I'm connecting a client with websocket through...,"['nginx', 'asp.net-core', 'websocket', 'timeou...",mkrieger1,0.0,0.0,2020-04-25
4,Change Tracking for TeraData,We need a way to know which rows changed in a ...,"['etl', 'teradata', 'change-tracking']",Techdeveloper,0.0,1.0,2020-04-25

In [94]:
analysis_2020.shape

(1251931, 7)

In [95]:
analysis_2019_20 = new_df[(new_df['date'] >= '2019-01-01') &  (new_df['date'] <= '2020-12-31')]

In [96]:
analysis_2019_20.shape

(3769278, 7)

In [97]:
analysis_2019_20.to_csv('data/clean_mini.csv', index=False)

In [98]:
analysis_2018 = new_df[(new_df['date'] >= '2018-01-01') &  (new_df['date'] <= '2018-12-31')]
analysis_2018.shape

(2140153, 7)

In [99]:
analysis_2017 = new_df[(new_df['date'] >= '2017-01-01') &  (new_df['date'] <= '2017-12-31')]
analysis_2017.shape

(2002870, 7)

In [100]:
analysis_2016 = new_df[(new_df['date'] >= '2016-01-01') &  (new_df['date'] <= '2016-12-31')]
analysis_2016.shape

(2120266, 7)

In [101]:
analysis_2015 = new_df[(new_df['date'] >= '2015-01-01') &  (new_df['date'] <= '2015-12-31')]
analysis_2015.shape

(2230821, 7)

In [102]:
analysis_2014 = new_df[(new_df['date'] >= '2014-01-01') &  (new_df['date'] <= '2014-12-31')]
analysis_2014.shape

(2057709, 7)

In [103]:
analysis_2013 = new_df[(new_df['date'] >= '2013-01-01') &  (new_df['date'] <= '2013-12-31')]
analysis_2013.shape

(1829201, 7)

In [104]:
new_df.to_csv('data/clean_stackoverflow_big.csv', index=False)

In [ ]:
analysis_2020_tags = analysis_2020.loc[:, ['tags']]

In [ ]:
analysis_2020_tags.head()

In [ ]:
head_2020 = analysis_2020_tags

In [ ]:
head_2020['tags'] = head_2020['tags'].astype(str).str.replace('\[|\]|\'', '')

In [ ]:
listed = (', ').join(head_2020['tags'])

In [ ]:
listed_list_2020 = listed.split(', ')

In [ ]:
from collections import Counter

In [ ]:
cnt_2020 = Counter(listed_list_2020)

In [ ]:
tags_common_2020 = cnt_2020.most_common()

In [ ]:
tags_cnt_2020 = pd.DataFrame(tags_common_2020, columns=['tag', 'count'])
tags_cnt_2020.head(25)

In [ ]:
analysis_2019_tags = analysis_2019.loc[:, ['tags']]
analysis_2019_tags['tags'] = analysis_2019_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2019 = (', ').join(analysis_2019_tags['tags'])
listed_list_2019 = listed_2019.split(', ')
cnt_2019 = Counter(listed_list_2019)
tags_common_2019 = cnt_2019.most_common()
tags_cnt_2019 = pd.DataFrame(tags_common_2019, columns=['tag', 'count'])
tags_cnt_2019.head(25)

In [ ]:
analysis_2018_tags = analysis_2018.loc[:, ['tags']]
analysis_2018_tags['tags'] = analysis_2018_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2018 = (', ').join(analysis_2018_tags['tags'])
listed_list_2018 = listed_2018.split(', ')
cnt_2018 = Counter(listed_list_2018)
tags_common_2018 = cnt_2018.most_common()
tags_cnt_2018 = pd.DataFrame(tags_common_2018, columns=['tag', 'count'])
tags_cnt_2018.head(25)

In [ ]:
analysis_2017_tags = analysis_2017.loc[:, ['tags']]
analysis_2017_tags['tags'] = analysis_2017_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2017 = (', ').join(analysis_2017_tags['tags'])
listed_list_2017 = listed_2017.split(', ')
cnt_2017 = Counter(listed_list_2017)
tags_common_2017 = cnt_2017.most_common()
tags_cnt_2017 = pd.DataFrame(tags_common_2017, columns=['tag', 'count'])
tags_cnt_2017.head(25)

In [ ]:
analysis_2016_tags = analysis_2016.loc[:, ['tags']]
analysis_2016_tags['tags'] = analysis_2016_tags['tags'].astype(str).str.replace('\[|\]|\'', '')
listed_2016 = (', ').join(analysis_2016_tags['tags'])
listed_list_2016 = listed_2016.split(', ')
cnt_2016 = Counter(listed_list_2016)
tags_common_2016 = cnt_2016.most_common()
tags_cnt_2016 = pd.DataFrame(tags_common_2016, columns=['tag', 'count'])
tags_cnt_2016.head(25)